*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 55px;
}
.header{
    height: 100px;
    background: #000000;
    padding: 0 20px;
    color: #FFFEFE;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color:#FFFEFE;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 48px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 55px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;

}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width: 100px;
    max-width: 700px;
    margin: 20px 0;
}
@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
.menu{
    position: absolute;
    width: 212px;
    height: 55px;
    left: 639px;
    top: 45px;
    text-align: center;
    padding: 80px 0;
    line-height: 55px;
    transition: 0.7s;
}
.menu a{
    display: block;
    padding: 20px;
}
.hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
}
#chk:checked ~ .menu{
    right: 0;
}
